/* assets/css/custom.scss */
body {
  background-image: url('/assets/images/background.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.main {
  // Arka plan resminin yolunu belirtin
  background-image: url('/assets/images/background.jpg');

  // Resmin tüm alanı kaplamasını ve sabit kalmasını sağlar
  background-size: cover;
  background-position: center;
  background-attachment: fixed; // Bu, kaydırma sırasında şık bir parallax efekti verir

  // Kartlar ile bölümün kenarları arasında boşluk bırakır
  padding: 4em 2em;

  // Kenarları yuvarlatarak daha modern bir görünüm kazandırır
  border-radius: 12px;
}

.custom-background-section {
  position: relative; // Konumlandırma için gerekli

  // Resmin üzerine yarı şeffaf siyah bir katman ekliyoruz
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); // %40 siyah filtre. Buradaki 0.4 değerini değiştirerek opaklığı ayarlayabilirsiniz.
    z-index: 1; // Filtrenin en altta kalmasını sağlar
  }

  // Kartların filtrenin üzerinde kalmasını sağlıyoruz
  .feature__wrapper {
    position: relative;
    z-index: 2;
    border: none !important;
    border: none !important;
  }
}

.page__lead {
    white-space: pre-wrap !important;
}

.emoji{vertical-align: middle;}
